.Feed{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  column-gap: 16px;
  row-gap: 30px;
  margin-top: 15px;
}
.card img{
  width: 100%;
  border-radius: 5px;
}
.card h2{
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin: 5px 0;
}
.card h3{
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin: 6px 0;

}
.card p{
  font-size: 14px;
}



import React, { useState } from 'react'
import './Feed.css'
import thumbnail1 from '../../assets/thumbnail1.png'
import thumbnail2 from '../../assets/thumbnail2.png'
import thumbnail3 from '../../assets/thumbnail3.png'
import thumbnail4 from '../../assets/thumbnail4.png'
import thumbnail5 from '../../assets/thumbnail5.png'
import thumbnail6 from '../../assets/thumbnail6.png'
import thumbnail7 from '../../assets/thumbnail7.png'
import thumbnail8 from '../../assets/thumbnail7.png'
import { Link } from 'react-router-dom'
import { API_KEY } from '../../Data'

const Feed = ({category}) => {

  const [data,setData] = useState([]);

  const fetchData  = async () =>{
        const videoList_url =`https://youtube.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails%2Cstatistics&chart=mostPopular&maxResults=50&regionCode=NIGERIA&videoCategoryId=${category}&key=${API_KEY}`
          await fetch(videoList_url).then(response=>response.json()).then(data=>setData(data.items))
      }
        useEffect(()=>{
            fetchData();
        },[category])

  return (
    <div className='Feed'>
      {data.map((items,index)=>{
          return (
    <Link to={`video/20/4521`} className='card'>
            <img src={thumbnail1} alt='' />
            <h2>best channel to learn coding that help you to be a web developer</h2>
            <h3>itunutech</h3>
            <p>15K views &bull; 2days ago</p>
          </Link>
          )
      })}
          
        </div>

  )
}

export default Feed